In [1]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [3]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [5]:
print('The {c} {b} {a}'.format(a='fox',b='brown',c='quick'))

The quick brown fox

In [6]:
result = 100/777

In [1]:
result = 104.12345

In [8]:
print('The result was ' + result)

TypeError: can only concatenate str (not "float") to str

In [4]:
# Float formatting follows "{value:width.precision f}"
print('The result was {r:1.10f}'.format(r=result))

The result was 104.1234500000

In [5]:
name = "Jose"

In [6]:
print('Hello, his name is {}'.format(name))

Hello, his name is Jose

In [8]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [9]:
name = "Sam"
age = 3

In [10]:
print(f'{name} is {age} years old.')

Sam is 3 years old.